<div class="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <span>Menu Administrador</span>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
        <li>
            <span>Shortcuts</span>
        </li>
        <li>
            <span>Overview</span>
        </li>
        <li>
            <span>Events</span>
        </li>
        <li>
            <span>About</span>
        </li>
        <li>
            <span>Services</span>
        </li>
        <li>
            <span>Contact</span>
        </li>
    </ul>
</div>
