<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Bienvenido!</h1>
    <p>Este el sistema de pedido de entradas en cual usted administrará sus pedidos.</p>
    <p>Para realizar su pedido por favor, inicie sesión.</p>
    <p>
    	<a id="jumbotronModalRegistrar" data-toggle="modal" data-target="#login-modal" ng-click="iCtrl.modalRegistrar()" class="btn btn-primary btn-lg" href="#" role="button">Registrarse</a>
    	<a ng-click="ayuda" class="btn btn-primary btn-lg pull-right" href="#" role="button">Mas ayuda »</a>
   	</p>
  </div>
</div>