<div class="row margin-top40 container">
  <div class="col-xs-4">
    <form role="form">
      <div class="bs-callout bs-callout-default">

        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="email" class="form-control fixed-wxxxlg" id="nombre" placeholder="Introduce tu nombre">
        </div>

        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" class="form-control fixed-wxxxlg" id="apellido" placeholder="Introduce tu apellido">
        </div>

        <div class="form-group">
          <label for="dni">Dni:</label>
          <input type="text" class="form-control fixed-wxxxlg" id="dni" placeholder="Introduce tu dni">
        </div>

        <div class="form-group">
          <label for="dni">Evento:</label>
          <select name="selEvento" id="selEvento" class="form-control fixed-wxxxlg"
                  ng-options="evento.name for evento in userctrl.evento track by evento.id"
                  ng-model="userctrl.eventoSelected">
          </select>
        </div>

        <div class="form-group">
          <label for="dni">Fecha Evento:</label>
          <select name="selFechaEvento" id="selFechaEvento" class="form-control fixed-wxxxlg"
                  ng-options="eventoFecha.data for eventoFecha in userctrl.eventoFecha track by eventoFecha.id"
                  ng-model="userctrl.eventoFechaSelected">
          </select>
        </div>

        <div class="form-group">
          <label for="domicilio">Cantidad De Tickets:</label>
          <input type="text" class="form-control fixed-wxxxlg" id="cantidad" placeholder="Introduce la cantidad">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
