
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <div class="navbar-brand">Tickets</div>
    </div>
    
    
    <div ng-if="!navctrl.init" >
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input placeholder="Usuario" style="height: 30px;" class="form-control" type="text" ng-model="navctrl.user">
          </div>
          <div class="form-group">
            <input placeholder="Contraseña" style="height: 30px;" class="form-control" type="password" ng-model="navctrl.pass">
          </div>
          <button ng-click="navctrl.iniciarSesion()" class="btn btn-success">Iniciar Sesión</button>
          <button ng-click="navctrl.registrarse()" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
    </div>
    
    <div ng-if="navctrl.init" >
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <p class="navbar-text no-bottom-margin no-top-margin">Bienvenido, {{navctrl.sessionVariable.getSessionUser()}}</p>
          </div>
          <button ng-click="navctrl.cerrarSesion()" class="btn btn-danger">Cerrar Sesión</button>
        </form>
      </div>
    </div>

  </div>
</nav>
